#contact_list {
	width: 150px;
	height: 650px;
	float: left;
	border: 1px solid #555;
	overflow-y: hidden;
}
#contacts{
	overflow-y: scroll;
	height:610px
}
#date_sent {
	width: 200px;
	height: 650px;
	float: left;
	border: 1px solid #555;
	overflow-y: hidden;
}
#list_of_dates{
	overflow-y:scroll;
	height: 610px;
}
#message_body {
	width: 975px;
	height: 650px;
	float: right;
	border: 1px solid #555;
	overflow-y: hidden;
}
#messages {
	overflow-y:scroll;
	height: 610px;
}
a {
	text-decoration: none;
	color: #000;
}
.name_color {
	color: #777687;
}
.me_color {
	color: #0033ff;
}
.phone_color {
	color: #669900;
}
input {
	border: 1px solid #555;
	border-radius: 4%;
	float: right;
}
